[Desktop Entry]
Type=Application
Version=1.0
Name=Setup RadxaOS
GenericName=RadxaOS Installer
Exec=/usr/libexec/calamares/calamares
Comment=Calamares — Installer for Radxa OS
Keywords=calamares;system;install;debian;installer
Icon=/usr/share/calamares/branding/radxa/logo.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
