Source: calamares-settings-radxa
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian

Package: calamares-settings-radxa
Architecture: all
Section: admin
Priority: standard
Depends: breeze,
         calamares,
         qml6-module-qtquick-controls | qml-module-qtquick-controls,
         sudo,
         ${misc:Depends},
Description: Calamares Configuration the Radxa system
 This package contains the configuration files for Calamares.
